<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  {{ with .Site.Params.nav.logo }}
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .link }}">
        <img src="{{ .src }}" alt="{{ .alt }}">
    </a>
  </div>
  {{ end }}

  <div class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
      </a>

      {{ range sort .Site.Sections "Params.weight" "asc" }}
      <a class="navbar-item" href="{{ .URL }}">
        {{ title .Dir | strings.TrimSuffix "/" }}
      </a>
      {{ end }} 
    </div>

    <div class="navbar-end">

    </div>

  </div>
</nav>