<header class="Site-header">
  <nav role="navigation" class="Navigation">
    <div class="Navigation-left">
    </div>
    <div class="Navigation-middle">
      <header class="Page-header">
        <nav class="DocsNav">
          {{ range sort .Site.Menus.main "Weight" "asc" }}
            <a class="DocsNav-tab" href="{{ .URL }}">
              {{ .Name }}
            </a>
          {{ end }}
        </nav>
      </header>
    </div>
    <div class="Navigation-right">
    </div>
  </nav>
</header>